extends layout

block pageTitle
    .jumbotron
        img(src="https://www.banrepcultural.org/assets/images/brc.svg", alt="Logo", style="width: 100px; height: auto; margin-bottom: 20px;")
        h1 #{title}
        h2 Más información sobre desarrollo de #[a(href='https://developers.exlibrisgroup.com/alma/apis', target='_blank') Alma APIs].
