extends layout

block pageTitle
    .jumbotron
        img(src="https://www.banrepcultural.org/assets/images/brc.svg", alt="Logo", style="width: 100px; height: auto; margin-bottom: 20px;")
        h1 #{title}
        h2 El Descubridor es la nueva plataforma de búsqueda de la Red cultural del Banco de la República #[a(href='https://descubridor.primo.exlibrisgroup.com/discovery/search?vid=57BDLRDC_INST:57BDLRDC_INST', target='_blank') Descubridor].
